header {
    text-align: center;
    font-family: Permanent Marker, cursive;
    font-size: 80px;
    background: rgb(54, 170, 216);
    color: gold;

}

h1 {
    font-family: Permanent Marker, cursive;
    font-size: 50px;
}

h2 {
    font-family: Caveat, cursive;
    font-size: 40px;
    
}

p {
    font-family: Kufam, cursive;
    font-size: 20px;

}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.home {
    margin-left: 20px;
}