header {
    text-align: center;
    font-family: Permanent Marker, cursive;
    font-size: 80px;
    background: rgb(54, 170, 216);
    color: gold;

}

h1 {
    font-family: Permanent Marker, cursive;
    font-size: 30px;
}

h2 {
    font-family: Caveat, cursive;
    font-size: 30px;
    
}

p {
    font-family: Kufam, cursive;
}