.background {
    margin: 8px;
    padding: 15px;

}

.page_tittle {
    background-color: rgb(54, 170, 216);
    text-align: center;
    font-family: Permanent Marker, cusive;

}

.header {
    background-color: gold;
}

body {
    margin: -8px;

}

h1 {
    font-size: 70px;

}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.container {
    font-family: Caveat, cursive;
}